form {
  margin-bottom: 100px;
}

form > select {
  height: 30px;
  border-radius: 5px;
  margin: 5px;
}

form > input {
  height: 25px;
  width: 143px;
  border-radius: 5px;
  margin: 5px;
  border: none;
}

.send-btn {
  background-color: #f0f8ff;
  border: none;
  border-radius: 5px; 
  height: 25px;
}
